---
layout: default
title: "Home"
---

{% include header.html %}
{% include introduction.html %}
{% include expectations.html %}
{% include meeting-times.html %}
{% include materials.html %}
{% include structure.html %}
{% include grading.html %}
{% include quizzes.html %}
{% include labs.html %}
{% include project.html %}
{% include exams.html %}
{% include plagiarism-and-cheating.html %}
{% include students-with-disabilities.html %}
{% include accreditation.html %}
{% include student-organizations.html %}
{% include contact-information.html %}
