<section id="accreditation" class="box">
    <h2><a href="#accreditation">Accreditation</a></h2>

    <div class="content">
        <p>The following are learning outcomes for the Computer Science program, accredited by ABET This course supports these outcomes.</p>

        <ol>
            <li>An ability to apply knowledge of computing and mathematics appropriate to the discipline.</li>
            <li>An ability to analyze a problem, and identify and define the computing requirements appropriate to its solution.</li>
            <li>An ability to design, implement, and evaluate a computer-based system, process, component, or program to meet desired needs.</li>
            <li>An ability to function effectively on teams to accomplish a common goal.</li>
            <li>An understanding of professional, ethical, legal, security and social issues and responsibilities.</li>
            <li>An ability to communicate effectively with a range of audiences.</li>
            <li>An ability to analyze the local and global impact of computing on individuals, organizations, and society.</li>
            <li>Recognition of the need to and an ability to engage in continuing professional development.</li>
            <li>An ability to use current techniques, skills, and tools necessary for computing practice.</li>
            <li>An ability to apply mathematical foundations, algorithmic principles, and computer science theory in the modeling and design of computer-based systems in a way that demonstrates comprehension of the tradeoffs involved in design choices.</li>
            <li>An ability to apply design and development principles in the construction of software systems of varying complexity.</li>
        </ol>
    </div>
</section>
