<section id="exams" class="box">
    <h2><a href="#exams">Exams</a></h2>

    <p>The final exam will be administered on Thursday, June 15<sup>th</sup> from 4:00pm to 5:50pm, and will cover the entirety of the material covered in class, and will be worth 100 points, out of 500 total for the class. The final exam will be open notes, and I highly recommend putting in some time to review the material prior to the exam.</p>
    <p>The quizzes taken at the start of each lecture should be a good resource to study in preparation for the exam. You can additionally look over the material in the <a href="{{ site.baseurl }}/final/">study guide</a>.</p>
</section>
