<section id="expectations" class="box">
    <h2><a href="#expectations">Expectations</a></h2>

    <ol>
        <li>Attend all class and lab sessions. If you are unable to attend, reach out to me promptly so we can work together to keep you up to speed.</li>
        <li>Participate in class discussions. This class will be collaborative and explorational, and that is best facilitated when everyone participates. You don't need to do a lot, but share your ideas, and ask questions when you have them.</li>
        <li>Do the reading before each class. Do the optional reading if you can. You&rsquo;ll get a lot more out of the class with the optional reading.</li>
        <li>If you have a problem, reach out to me. I am here as a resource to you, and my number one goal is making sure you learn the material and succeed in the course. The sooner you reach out, the better we will be able to address the problem.</li>
    </ol>
</section>
