<section id="grading" class="box">
    <h2><a href="#grading">Grading</a></h2>

    <div class="content">
        <p>There are four ways to get points: quizzes, labs, projects, and exams. There are a total of 1000 points available, and your final grade is based solely on how many points you have.</p>


        <table>
            <tr>
                <th>Type</th>
                <th>Count</th>
                <th>Points Per Assignment</th>
                <th>Total</th>
            </tr>
            <tr>
                <td>Quizzes</td>
                <td>10</td>
                <td>10</td>
                <td>100</td>
            </tr>
            <tr>
                <td>Labs</td>
                <td>10</td>
                <td>20</td>
                <td>200</td>
            </tr>
            <tr>
                <td>Projects</td>
                <td>3</td>
                <td>100</td>
                <td>300</td>
            </tr>
            <tr>
                <td>Exams</td>
                <td>2</td>
                <td>200</td>
                <td>400</td>
            </tr>
        </table>

        <p>Late work is not generally accepted. If special circumstances prevent you from doing an assignment, please contact me promptly so we can discuss potential solutions.</p>
    </div>
</section>
