<section id="grading" class="box">
    <h2><a href="#grading">Grading</a></h2>

    <div class="content">
        <p>Grading in the course is based on points. There are four ways to get points: quizzes, labs, the course project, and the final. There will be 18 quizzes each worth 5 points, 10 labs each worth 20 points, 1 project worth 110 points, and 1 final worth 100 points.</p>

        <table>
            <tr>
                <th>Type</th>
                <th>Count</th>
                <th>Points Per Assignment</th>
                <th>Total</th>
            </tr>
            <tr>
                <td>Quizzes</td>
                <td>18</td>
                <td>5</td>
                <td>90</td>
            </tr>
            <tr>
                <td>Labs</td>
                <td>10</td>
                <td>20</td>
                <td>200</td>
            </tr>
            <tr>
                <td>Project</td>
                <td>1</td>
                <td>110</td>
                <td>110</td>
            </tr>
            <tr>
                <td>Final</td>
                <td>1</td>
                <td>100</td>
                <td>100</td>
            </tr>
        </table>

        <p>There are a total of 500 points available in this course. Your final grade is based solely on how many points out of 500 you have received. The letter grade breakdown is as follows.</p>

        <table>
            <tr>
                <th>Grade</th>
                <th>Percent Range</th>
                <th>Point Range</th>
            </tr>
            <tr>
                <td>A</td>
                <td><pre>[90%, 100%]</pre></td>
                <td><pre>[450, 500]</pre></td>
            </tr>
            <tr>
                <td>B</td>
                <td><pre>[80%, 90%)</pre></td>
                <td><pre>[400, 450)</pre></td>
            </tr>
            <tr>
                <td>C</td>
                <td><pre>[70%, 80%)</pre></td>
                <td><pre>[350, 400)</pre></td>
            </tr>
            <tr>
                <td>D</td>
                <td><pre>[60%, 70%)</pre></td>
                <td><pre>[300, 350)</pre></td>
            </tr>
            <tr>
                <td>F</td>
                <td><pre>[0%, 60%)</pre></td>
                <td><pre>[0, 300)</pre></td>
            </tr>
        </table>

        <p>Late work is not generally accepted. If special circumstances prevent you from doing an assignment, please contact me promptly so we can discuss potential solutions to the problem.</p>
    </div>
</section>
