<meta charset="utf-8">

<title>{{ site.title }}</title>
<meta name="description" content="{{ site.description }}">

<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="https://use.typekit.net/frx0okb.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

<link href="{{ site.baseurl }}/assets/normalize.css" rel="stylesheet">
<link href="{{ site.baseurl }}/assets/main.css" rel="stylesheet">
