<section id="labs" class="box">
    <h2><a href="#labs">Labs</a></h2>

    <div class="content">
        <table>
            <tr>
                <th>#</th>
                <th>Date</th>
                <th>Language</th>
                <th>Topic</th>
            </tr>
            <tr>
                <td>1</td>
                <td>April&nbsp;6<sup>th</sup></td>
                <td>Haskell</td>
                <td>Functions</td>
            </tr>
            <tr>
                <td>2</td>
                <td>April&nbsp;13<sup>th</sup></td>
                <td>Haskell</td>
                <td>Typeclasses</td>
            </tr>
            <tr>
                <td>3</td>
                <td>April&nbsp;20<sup>th</sup></td>
                <td>Haskell</td>
                <td>Effects</td>
            </tr>
            <tr>
                <td>4</td>
                <td>April&nbsp;27<sup>th</sup></td>
                <td>Rust</td>
                <td>Ownership, Lifetimes, Borrowing</td>
            </tr>
            <tr>
                <td>5</td>
                <td>May&nbsp;4<sup>th</sup></td>
                <td>Rust</td>
                <td>Concurrency &amp; Parallelism</td>
            </tr>
            <tr>
                <td>6</td>
                <td>May&nbsp;11<sup>th</sup></td>
                <td>Rust</td>
                <td>Safety &amp; Security</td>
            </tr>
            <tr>
                <td>7</td>
                <td>May&nbsp;18<sup>th</sup></td>
                <td>Java</td>
                <td>Objects &amp; Classes</td>
            </tr>
            <tr>
                <td>8</td>
                <td>May&nbsp;25<sup>th</sup></td>
                <td>Java</td>
                <td>Object&ndash;Oriented Design</td>
            </tr>
            <tr>
                <td>9</td>
                <td>June&nbsp;1<sup>st</sup></td>
                <td>Prolog</td>
                <td>Unification &amp; Backtracking</td>
            </tr>
            <tr>
                <td>10</td>
                <td>June&nbsp;8<sup>th</sup></td>
                <td>Prolog</td>
                <td>Logic &amp; Programming</td>
            </tr>
        </table>

        <p>One of the goals of this course is to combat language monoculture. If you as a programmer only use one language, you are only exposed to one way of thinking. The languages we use (whether speaking or programming) shape the ideas we consider and express. Learning more than one programming language is akin to learning more than one spoken language. In doing so, you help to broaden yourself with new perspectives and ways of thinking.</p>
        <p>It is not expected that you become a strong programmer in each of these languages. Rather, the hope is that the exposure you receive to these languages will pay dividends in improving your understanding of and facility with programming overall. If you happen to like one or more of these languages, and want to explore them further on your own time, do.</p>

        <p>Labs in this class will consist of a series of exercises or a programming assignment in one of the <a href="#languages">four languages being used in the lab</a>. These labs are designed to be reasonably completed within the hour and fifty minutes alloted. For students who finish with extra time and want to explore the languages in question further, additional resources or exercises will often be provided.</p>
        <p>Lab time is a time for experimentation, discovery, and question-asking (both of yourself and of me). The best way to discover the workings of a programming language is to write in it, and so I highly recommend a sense of playfulness during lab sessions. I will be available for questions, and if more than one or two students has the same question I am happy to answer those questions for the edification of the rest of the students.</p>

        <p>The lab is organized into four segments, each using a particular language. These languages were chosen because they best typify the core concepts of the programming paradigm they represent.</p>
        <p>In these labs we will be using <a href="https://www.haskell.org/">Haskell</a> (to represent functional programming), <a href="https://www.rust-lang.org/en-US/">Rust</a> (to represent structured programming), <a href="https://docs.oracle.com/javase/8/">Java</a> (to represent object-oriented programming), and <a href="http://www.swi-prolog.org/">Prolog</a> (to represent logic programming). These languages are all quite different, and there is enough nuance in each to fill multiple classes. So we will only be spending a few weeks with each.</p>
    </div>
</section>
