<section id="labs" class="box">
    <h2><a href="#labs">Labs</a></h2>

    <div class="content">
        <table>
            <tr>
                <th>Date</th>
                <th>Language</th>
                <th>Topic</th>
            </tr>
            <tr>
                <td>9/21 &amp; 9/26</td>
                <td>Racket</td>
                <td>Expressions</td>
            </tr>
            <tr>
                <td>9/28 &amp; 10/3</td>
                <td>Racket</td>
                <td>Functions</td>
            </tr>
            <tr>
                <td>10/5 &amp; 10/10</td>
                <td>Racket</td>
                <td>Macros</td>
            </tr>
            <tr>
                <td>10/12 &amp; 10/17</td>
                <td>Rust</td>
                <td>Ownership, Lifetimes, Borrowing</td>
            </tr>
            <tr>
                <td>10/19 &amp; 10/24</td>
                <td>Rust</td>
                <td>Concurrency &amp; Parallelism</td>
            </tr>
            <tr>
                <td>10/26 &amp; 10/31</td>
                <td>Rust</td>
                <td>Safety &amp; Security</td>
            </tr>
            <tr>
                <td>11/2 &amp; 11/7</td>
                <td>Java</td>
                <td>Objects &amp; Classes</td>
            </tr>
            <tr>
                <td>11/9 &amp; 11/14</td>
                <td>Java</td>
                <td>Object&ndash;Oriented Design</td>
            </tr>
            <tr>
                <td>11/16 &amp; 11/21</td>
                <td>Prolog</td>
                <td>Unification &amp; Backtracking</td>
            </tr>
            <tr>
                <td>11/28 &amp; 11/30</td>
                <td>Prolog</td>
                <td>Logic &amp; Programming</td>
            </tr>
        </table>

        <p>One of the goals of this course is to combat language monoculture. If you as a programmer only use one language, you are only exposed to one way of thinking. The languages we use (whether speaking or programming) shape the ideas we consider and express. Learning more than one programming language is akin to learning more than one spoken language. In doing so, you help to broaden yourself with new perspectives and ways of thinking.</p>
        <p>It is not expected that you become a strong programmer in each of these languages. Rather, the hope is that the exposure you receive to these languages will pay dividends in improving your understanding of and facility with programming overall. If you happen to like one or more of these languages, and want to explore them further on your own time, do.</p>
        <p>Lab time is a time for experimentation, discovery, and question-asking (both of yourself and of me). The best way to discover the workings of a programming language is to write in it, and so I highly recommend a sense of playfulness during lab sessions. I will be available for questions, and if more than one or two students has the same question I am happy to answer those questions for the edification of the rest of the students.</p>
    </div>
</section>
