<section id="materials" class="box">
    <h2><a href="#materials">Materials</a></h2>

    <div class="content">
        <p>This course requires the second edition of <a href="http://cs.brown.edu/~sk/Publications/Books/ProgLangs/2007-04-26/">&ldquo;Programming Languages: Application and Interpretation&rdquo;</a> by <a href="http://cs.brown.edu/~sk/">Shriram Krishnamurthi</a>. This book is available for free online in both <abbr title="HyperText Markup Language">HTML</abbr> and <abbr title="Portable Document Format">PDF</abbr> formats, and need not be purchased.</p>
        <p>Each pre-course reading will include optional materials. Questions from these optional materials will be included for extra points in the regular <a href="#quizzes">quizzes</a>.</p>
        <p>Some pre-course reading will include links or suggestions for further exploration into the topic at hand. These are entirely for your own personal edification, and will not be required for use in the course.</p>
    </div>
</section>
