<section id="plagiarism-and-cheating" class="box">
    <h2><a href="#plagiarism-and-cheating">Plagiarism &amp; Cheating</a></h2>

    <p>Plagiarism and cheating are violations of the <a href="https://www.csusb.edu/sites/default/files/Student%20Code%20of%20Conduct.pdf">Student Conduct Code</a> and may be dealt with by both the instructor and the Judicial Affairs Officer. Definition and procedures for addressing cheating and plagiarism are found below. Questions about academic dishonesty and the policy should be addressed to the Office of the Vice President, Student Services. Plagiarism is the act of presenting the ideas and writings of another as one’s own. Cheating is the act of obtaining or attempting to obtain credit for academic work through the use of any dishonest, deceptive, or fraudulent means. Cheating includes but is not limited to:</p>

    <ol>
        <li>Copying, in part or in whole, from another’s test, software, or other evaluation instrument.</li>
        <li>Submitting work previously graded in another course unless this has been approved by the course instructor or by departmental policy.</li>
        <li>Submitting work simultaneously presented in two courses, unless this has been approved by both course instructors or by the department policies of both departments.</li>
        <li>Using or consulting during an examination sources or materials not authorized by the instructor.</li>
        <li>Altering or interfering with grading or grading instructions.</li>
        <li>Sitting for an examination by a surrogate, or as a surrogate.</li>
        <li>Any other act committed by a student in the course of his or her academic work, which defrauds or misrepresents, including aiding or abetting in any of the actions defined above.</li>
    </ol>

    <p>Plagiarism is academically dishonest and makes the offending student liable to penalties up to and including expulsion. Students must make appropriate acknowledgements of the original source where material written or compiled by another is used. Procedure. Allegations of academic dishonesty may be handled directly by the instructor or may be referred by the instructor to the Judicial Affairs Officer. If handled by the instructor, the instructor has the following responsibilities:</p>

    <ol>
        <li>To preserve the evidence in support of the allegation;</li>
        <li>To notify the student of the allegation and of the evidence on which it is based;</li>
        <li>To provide the student a reasonable opportunity to challenge or rebut the allegation;</li>
        <li>To notify the student of the action being taken.</li>
    </ol>

    <p>The instructor may employ any of the following sanctions:</p>

    <ol>
        <li>Verbal or written reprimand;</li>
        <li>Assignment or appropriate task or examination;</li>
        <li>Change of grade, including assigning a punitive grade to work involving dishonesty, or for the course, project, thesis, or any other summary evaluation of the student’s academic work.</li>
    </ol>

    <p>If the student does not wish to accept the sanction proposed by the instructor, the student may request and require that the allegation be referred to the Judicial Affairs Officer. In that event, the procedures specified under Executive Order 970 (Student Disciplinary Procedures of the California State University) shall be observed. The instructor shall not impose any sanction other than the sanction(s) imposed through the disciplinary procedure.</p>
</section>
