<section id="project" class="box">
    <h2><a href="#project">Project</a></h2>
    <p>The course will include a project to be undertaken in teams of 5 students. Each member of a team will receive the same grade, so make sure to pick team members on whom you can rely.</p>
    <p>The overall goal for the project is to report on an existing language, and then design a concept for a new programming language. You do not need to implement the language, nor do you need to provide a complete formal specification, but you do need to trace out the concept to a degree sufficient for a technical reader to understand your language, and what sort of semantics should be expected.</p>
    <p>The project is organized into three phases plus a presentation.</p>
    <p>In phase one, you must submit a report on an existing programming language that is not in the Top 20 of the TIOBE programming language index at the time the class starts. This means the following languages may not be used for the report:</p>
    <ul class="columns">
        <li>Java</li>
        <li>C</li>
        <li>C++</li>
        <li>C♯</li>
        <li>Python</li>
        <li>PHP</li>
        <li>JavaScript</li>
        <li>Visual Basic .NET</li>
        <li>Delphi / Object Pascal</li>
        <li>Perl</li>
        <li>Ruby</li>
        <li>Swift</li>
        <li>Assembly Language</li>
        <li>Go</li>
        <li>R</li>
        <li>Visual Basic</li>
        <li>MATLAB</li>
        <li>PL / SQL</li>
        <li>Objective-C</li>
        <li>Scratch</li>
    </ul>
    <p>The phase 1 report is worth 40 points out of the 110 total points for the project. If a report on any of the languages listed above is turned in, it will receive 0 points.</p>
    <p>The report should detail the language's syntax, semantics, paradigm, design philosophy, and major interesting features.</p>
    <p>In phase two, you must submit a report on an original programming language concept developed by the group. This report is a draft report, and will not be graded, but failure to submit a report in phase two will result in the group receiving no points for any submission in phase three.</p>
    <p>Like in phase one, the report should detail the language's syntax, semantics, paradigm, design philosophy, and major interesting features.</p>
    <p>In phase three, you must submit the final draft of the report your group submitted in phase 2. This report is worth 40 points out of the 110 total points for the project.</p>
    <p>The final part of the project is for the group to present their finished programming language concept. This presentation is worth 30 points out of the 110 total points for the project.</p>
</section>
