<section id="quizzes" class="box">
    <h2><a href="#quizzes">Quizzes</a></h2>

    <p>Each class except for the first and last will begin with a quiz covering the reading assigned at the end of the previous class. These quizzes are worth 5 points each, and with 18 quizzes total (2 classes per week for 10 weeks, minus the first and last class = 18), all the quizzes are together worth 90 points out of the 500 total points in the course.</p>
    <p>These quizzes will be quick, and should be easy for anyone keeping up with the reading. They will also include a bonus question or two based on the optional reading assigned at the end of the previous class.</p>
</section>
