<aside class="sidebar">
    <h3 id="current-grades"><a href="#current-grades">Current Grades</a></h3>
    <p>View your current grades on <a href="https://csusb.blackboard.com">Blackboard</a>.</p>

    <div class="attention">
        <h3 id="reading-schedule"><a href="#reading-schedule">Reading Schedule</a></h3>
        <table class="compact">
            <tr><th>Read&nbsp;By</th><th>Topic</th></tr>

            <tr><td>April&nbsp;6<sup>th</sup></td><td><a href="{{ site.baseurl }}/reading/interpretation">Interpretation</a></td></tr>
            <tr><td>April&nbsp;11<sup>th</sup></td><td><a href="{{ site.baseurl }}/reading/functions-1">Functions Ⅰ</a></td></tr>
            <tr><td>April&nbsp;13<sup>th</sup></td><td><a href="{{ site.baseurl }}/reading/functions-2">Functions Ⅱ</a></td></tr>
            <tr><td>April&nbsp;18<sup>th</sup></td><td><a href="{{ site.baseurl }}/reading/mutation">Mutation</a></td></tr>
            <tr><td>April&nbsp;20<sup>th</sup></td><td><a href="{{ site.baseurl }}/reading/recursion">Recursion</a></td></tr>
            <tr><td>April&nbsp;25<sup>th</sup></td><td><a href="{{ site.baseurl }}/reading/objects-1">Objects Ⅰ</a></td></tr>
            <tr><td>April&nbsp;27<sup>th</sup></td><td><a href="{{ site.baseurl }}/reading/objects-2">Objects Ⅱ</a></td></tr>

            <tr><td>May&nbsp;2<sup>nd</sup></td><td><a href="{{ site.baseurl }}/reading/memory-1">Memory Ⅰ</a></td></tr>
            <tr><td>May&nbsp;4<sup>th</sup></td><td><a href="{{ site.baseurl }}/reading/memory-2">Memory Ⅱ</a></td></tr>
            <tr><td>May&nbsp;9<sup>th</sup></td><td><a href="{{ site.baseurl }}/reading/representation-1">Representation Ⅰ</a></td></tr>
            <tr><td>May&nbsp;11<sup>th</sup></td><td><a href="{{ site.baseurl }}/reading/representation-2">Representation Ⅱ</a></td></tr>
            <tr><td>May&nbsp;16<sup>th</sup></td><td><a href="{{ site.baseurl }}/reading/control-flow-1">Control flow Ⅰ</a></td></tr>
            <tr><td>May&nbsp;18<sup>th</sup></td><td><a href="{{ site.baseurl }}/reading/control-flow-2">Control flow Ⅱ</a></td></tr>
            <tr><td>May&nbsp;23<sup>rd</sup></td><td><a href="{{ site.baseurl }}/reading/types-1">Types Ⅰ</a></td></tr>
            <tr><td>May&nbsp;25<sup>th</sup></td><td><a href="{{ site.baseurl }}/reading/types-2">Types Ⅱ</a></td></tr>
            <tr class="highlight-row"><td>May&nbsp;30<sup>th</sup></td><td><a href="{{ site.baseurl }}/reading/types-3">Types Ⅲ</a></td></tr>
            <tr><td>June&nbsp;1<sup>st</sup></td><td><a href="{{ site.baseurl }}/reading/types-4">Types Review</a></td></tr>
        </table>
    </div>

    <div class="attention">
        <h3 id="project-due-dates"><a href="#project-due-dates">Project Due Dates</a></h3>
        <table class="compact">
            <tr><th>Date</th><th>Assignment</th></tr>
            <tr><td>April 22<sup>nd</sup></td><td><a href="{{ site.baseurl }}/#phase-one">Phase One</a></td></tr>
            <tr><td>May 13<sup>th</sup></td><td><a href="{{ site.baseurl }}/#phase-two">Phase Two</a></td></tr>
            <tr><td>June 3<sup>rd</sup></td><td><a href="{{ site.baseurl }}/#phase-three">Phase Three</a></td></tr>
            <tr><td>June 6<sup>th</sup> &amp; 8<sup>th</sup></td><td><a href="{{ site.baseurl }}/#presentation">Presentation</a></td></tr>
        </table>
    </div>

    <div class="attention">
        <h3 id="final-exam-date"><a href="#final-exam-date">Final Exam Date</a></h3>
        <p class="big">June&nbsp;15<sup>th</sup>&nbsp;@&nbsp;4:00pm</p>
    </div>
</aside>
