<aside class="sidebar">
    <h3 id="current-grades"><a href="#current-grades">Current Grades</a></h3>
    <p>View your current grades on <a href="https://csusb.blackboard.com">Blackboard</a>.</p>

    <div class="attention">
        <h3 id="reading-schedule"><a href="#reading-schedule">Reading Schedule</a></h3>
        <table class="compact">
            <tr><th>Read&nbsp;By</th><th>Topic</th></tr>

            <tr><td>April&nbsp;6<sup>th</sup></td><td><a href="{{ site.baseurl }}/reading/interpretation">Interpretation</a></td></tr>
            <tr><td>April&nbsp;11<sup>th</sup></td><td><a href="{{ site.baseurl }}/reading/functions-1">Functions Ⅰ</a></td></tr>
            <tr><td>April&nbsp;13<sup>th</sup></td><td>Functions Ⅱ</td></tr>
            <tr><td>April&nbsp;18<sup>th</sup></td><td>Mutation</td></tr>
            <tr><td>April&nbsp;20<sup>th</sup></td><td>Recursion</td></tr>
            <tr><td>April&nbsp;25<sup>th</sup></td><td>Objects Ⅰ</td></tr>
            <tr><td>April&nbsp;27<sup>th</sup></td><td>Objects Ⅱ</td></tr>

            <tr><td>May&nbsp;2<sup>nd</sup></td><td>Memory Ⅰ</td></tr>
            <tr><td>May&nbsp;4<sup>th</sup></td><td>Memory Ⅱ</td></tr>
            <tr><td>May&nbsp;9<sup>th</sup></td><td>Representation Ⅰ</td></tr>
            <tr><td>May&nbsp;11<sup>th</sup></td><td>Representation Ⅱ</td></tr>
            <tr><td>May&nbsp;16<sup>th</sup></td><td>Control flow Ⅰ</td></tr>
            <tr><td>May&nbsp;18<sup>th</sup></td><td>Control flow Ⅱ</td></tr>
            <tr><td>May&nbsp;23<sup>rd</sup></td><td>Types Ⅰ</td></tr>
            <tr><td>May&nbsp;25<sup>th</sup></td><td>Types Ⅱ</td></tr>

            <tr><td>May&nbsp;30<sup>th</sup></td><td>Contracts Ⅰ</td></tr>
            <tr><td>June&nbsp;1<sup>st</sup></td><td>Contracts Ⅱ</td></tr>
        </table>
    </div>

    <div class="attention">
        <h3 id="project-due-dates"><a href="#project-due-dates">Project Due Dates</a></h3>
        <table class="compact">
            <tr><th>Date</th><th>Assignment</th></tr>
            <tr><td>April 22<sup>nd</sup></td><td><a href="{{ site.baseurl }}/#phase-one">Phase One</a></td></tr>
            <tr><td>May 13<sup>th</sup></td><td><a href="{{ site.baseurl }}/#phase-two">Phase Two</a></td></tr>
            <tr><td>June 3<sup>rd</sup></td><td><a href="{{ site.baseurl }}/#phase-three">Phase Three</a></td></tr>
            <tr><td>June 6<sup>th</sup> &amp; 8<sup>th</sup></td><td><a href="{{ site.baseurl }}/#presentation">Presentation</a></td></tr>
        </table>
    </div>

    <div class="attention">
        <h3 id="final-exam-date"><a href="#final-exam-date">Final Exam Date</a></h3>
        <p class="big">July&nbsp;15<sup>th</sup>&nbsp;@&nbsp;4:00pm</p>
    </div>
</aside>
