<section id="structure" class="box">
    <h2><a href="#structure">Structure</a></h2>

    <div class="content">
        <p>The class component will serve to enable discussion and exploration of the topics covered in reading. To do well in this class, <em>you must do the assigned reading</em>. Students who arrive to class without having done the reading will likely find themselves struggling.</p>
        <p>The lab component will serve to introduce you to a variety of programming languages, to provide practical knowledge about different languages, their underlying paradigms, and how the different decisions the language designers make influence the resulting language.</p>
    </div>
</section>
