<section id="structure" class="box">
    <h2><a href="#structure">Structure</a></h2>

    <div class="content">

        <p>This course is organized into two components, a class component and a lab component.</p>

        <p>The class component will serve to enable discussion and exploration of the topics covered in reading. To do well in this class, <em>you must do the assigned reading</em>. Students who arrive to class without having done the reading will likely find themselves struggling.</p>
        <p>Each class session will begin with a quiz whose questions are based on the information covered in the reading assigned after the previous class session. Each quiz will additionally have questions based on any optional reading, for extra points. See the <a href="#grading">Grading</a> section for more information on how these quizzes are graded, and how that grade contributes to your final grade in the course.</p>

        <p>The lab component will serve to introduce you to a variety of programming languages, to provide practical knowledge about different languages, their underlying paradigms, and how the different decisions the language designers make influence the resulting language.</p>
        <p>The lab will consist of exercises and programming assignments designed to provide hands-on experience with the given languages and their paradigms.</p>
    </div>
</section>
