<section id="student-organizations" class="box">
    <h2><a href="#student-organizations">Student Organizations</a></h2>

    <div class="content">
        <p>It is highly recommended that you become a member of the <a href="https://cse-csusb.org/">CSUSB Computer Science and Engineering Club</a>. The club provides a number of support and enrichment activities, including peer tutoring and talks on current topics in computing. Joining the CSE Club is an excellent way to expand your skills and opportunities as a computer scientist or engineer.</p>
    </div>
</section>
