<section id="table-of-contents" class="box">
    <h2><a href="#table-of-contents">Table of Contents</a></h2>

    <div class="content">
        <ol class="toc">
            <li><a href="#introduction">Introduction</a></li>
            <li><a href="#expectations">Expectations</a></li>
            <li><a href="#meeting-times">Meeting Times</a></li>
            <li><a href="#materials">Materials</a></li>
            <li><a href="#structure">Structure</a></li>
            <li><a href="#grading">Grading</a></li>
            <li><a href="#quizzes">Quizzes</a></li>
            <li><a href="#labs">Labs</a></li>
            <li><a href="#project">Project</a></li>
            <li><a href="#exams">Exams</a></li>
            <li><a href="#plagiarism-and-cheating">Plagiarism &amp; Cheating</a></li>
            <li><a href="#students-with-disabilities">Students with Disabilities</a></li>
            <li><a href="#accreditation">Accreditation</a></li>
            <li><a href="#student-organizations">Student Organizations</a></li>
            <li><a href="#contact-information">Contact Information</a></li>
        </ol>
    </div>
</section>
