*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 1em;
}

body {
    font-size: 1rem;
    line-height: 1.667em;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    background-color: #eee;
    color: #000;
}

a {
    color: #000;
}

strong {
    font-weight: 600;
}

table pre {
    padding: 0;
    margin: 0;
}

ol,
ul {
    padding-left: 3.334rem;
}

code {
    background-color: #eee;
}

em {
    font-style: normal;
    background-color: #dedede;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
table {
    margin: 0;
    margin-bottom: 1.667rem;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #011627;
    text-decoration: none;
}

h1 { font-size: 2.779rem; font-weight: 900; }
h2 { font-size: 1.667rem; font-weight: 700; }
h3 { font-size: 1rem; font-weight: 600; }
h4 { font-size: 1rem; }
h5 { font-size: 1rem; }
h6 { font-size: 1rem; }

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.667em;
}

h2 a {
    display: block;
    border-bottom: 2px solid #000;
}

h2 a::after {
    content: " ↓";
}

h2 a.collapsed {
    color: #999;
    border-color: #999;
    border-bottom-style: dashed;
}

h2 a.collapsed::after {
    content: " ↑";
}

table {
	border-collapse: collapse;
    border: 2px solid #000;
}

table,
tbody {
    width: 100%;
}

tbody {
	background-color: #fff;
}

th,
td {
    border-bottom: 2px solid #000;
	padding: 0.8335rem 1.667rem;
    vertical-align: middle;
}

th {
    font-weight: 600;
	text-align: left;
    background-color: #000;
    color: #fff;
}

tr:nth-child(2n+1) {
	background-color: #eee;
}

.container {
    width: 50rem;
    margin: 3.334rem auto;
    padding: 3.334rem;
    padding-bottom: 1.667rem;
    background-color: #fff;
    border: 2px solid #000;
}

.toc {
    background-color: #f7f7f7;
    padding: 1.667rem;
    padding-left: 3.334rem;
    padding-right: 3.334rem;
    margin-left: -3.334rem;
    margin-right: -3.334rem;
    list-style-position: inside;
}

.header {
    margin-bottom: 1.667rem;
}

.columns {
    display: block;
    max-height: 20rem;

    -moz-column-count: 3;
    -moz-column-gap: 1.667rem;
    -webkit-column-count: 3;
    -webkit-column-gap: 1.667rem;
    column-count: 3;
    column-gap: 1.667rem;
}

.collapsed {
    color: #999;
}

