<!doctype html>
<html lang="en-US">
    <head>
        {% include head.html %}
    </head>
    <body>
        <div class="container">
            <header class="header">
                <p><span>Course:</span> Programming Languages</p>
                <p><span>Professor:</span> Andrew Brinker</p>
                <p><span>Term:</span> Fall 2017</p>
            </header>

            <div class="container-content">
                <div class="main">
                    <div class="main-content">
                        {{ content }}
                    </div>
                </div>

                {% include sidebar.html %}
            </div>
        </div>
    </body>
</html>
