<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">

        <title>{{ page.title }} - {{ site.title }}</title>
        <meta name="description" content="{{ site.description }}">

        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="{{ site.baseurl }}/assets/normalize.css" rel="stylesheet">
        <link href="{{ site.baseurl }}/assets/main.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            {% include header.html %}
            <div class="container-content">
                {{ content }}
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="/assets/jquery-3.2.1.min.js"><\/script>')</script>
            <script src="/assets/main.js"></script>
        </body>
    </html>
